<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Backbone.js Web App</title>
		<!--<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>-->
        <link rel="stylesheet" href="css/screen.css" />
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        <section id="templateWrapper">
            <header>
                <h1><span>League:</span>AMSU - 12</h1>
                <h1><span>Tournament:</span>Threesome</h1>
            </header>
            
            <article>
                <header>
                    <h1>Pool A - Ranking</h1>
                </header>
                <table id="teamTable">
                    <tr>
                        <th>Team</th>
                        <th>Won</th>
                        <th>Lost</th>
                        <th>Sets won</th>
                        <th>Sets lost</th>
                        <th>Sets balance</th>
                        <th>Points won</th>
                        <th>Points lost</th>
                        <th>Points balance</th>
                    </tr>
                    
                    <script id="teamTableTemplate" type="text/template">
                        <td><%= team %></td>
                        <td><%= won %></td>
                        <td><%= lost %></td>
                        <td><%= setsWon %></td>
                        <td><%= setsLost %></td>
                        <td><%= setsBalance %></td>
                        <td><%= pointsWon %></td>
                        <td><%= pointsLost %></td>
                        <td><%= pointsBalance %></td>
                    </script>

                </table>
            </article>
        </section>
		
		<!-- Libraries -->
        <script src="js/libs/jquery-1.7.1.min.js"></script>
        <script src="js/libs/json2.js"></script>
        <script src="js/libs/underscore-min.js"></script>
        <script src="js/libs/backbone-min.js"></script>

        <!-- Utils & Debug -->
        <script src="js/debug/debug.js"></script>
        <script src="js/util/utils.js"></script>

		<!-- Application -->
        <script src="js/app/models/Team.js"></script>
        <script src="js/app/collections/Pool.js"></script>
        <script src="js/app/views/Team.js"></script>
        <script src="js/app/views/Pool.js"></script>

        <script src="js/app/main.js"></script>
    </body>
</html>